%section.row
  %div.hero
%div.row
  %div.col-xs-4.tiles
    %img{ :src => 'https://cdn.propercloth.com/images/home2/home-fabrics-fall.jpg'}
  %div.col-xs-4.tiles
    %img{ :src => 'https://cdn.propercloth.com/images/home2/home-fabrics-fall.jpg'}
  %div.col-xs-4.tiles
    %img{ :src => 'https://cdn.propercloth.com/images/home2/create-size-fpo.jpg'}

