@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 60px;
}
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 30%;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
 }

 #logo:hover {
   color: #fff;
   text-decoration: none;
 }
 .hero {
   background: #ddd image-url('main.png') no-repeat 20% 50%;
   background-size: cover;
   height: 100vh;
 }
 .dark {
   padding: 0px !important;
   width: 100%;
   top: 0px;
   position: fixed;
 }

 .dropbtn {
   color: #9d9d9d;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
  }

 /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   z-index: 100;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   }

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.tiles {
  padding : 0px;
}
.tiles img {
  width:100%;
  padding: 0px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

 .alert-alert {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: #b94a48;
   text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
#error_explanation {
 background-color: #f2dede;
 border-radius: 25px;
 width: 50%;
 margin: auto;
}

#error_explanation h2 {
  font-size: 15px;
  padding: 10px;
}

.filter {
  width: 14%;
  padding-right: 4px;
  padding-top: 3px;
  display: table-cell !important;
}

.filter-title {
  font-family: 'Brown','Avenir Next W02','Avenir',Helvetica,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: .5em;
}
.gallery {
  width: 161px;
  border: 1px solid #e0e0e0;
  padding: 12px 14px 12px 14px;
  line-height: 20px;
  margin-right: 2px;
}

.gallery-item {
  padding: 12px 15px 14px 14px;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.item-description{
  width: 190px;
  padding-right: 5px;
}

.gallery-text-div {
  overflow: hidden;
  height:172px;
}

.gallery-item-title {
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  margin-bottom: .5em;
}

.image-description {
  height: 172px;
  width: 50%;
}

.filter {
  vertical-align: top;
}

.gallery-item tr{
  vertical-align: top;
}

.indent-1 {
  height: 1px;
  clear: both;
}

.indent-4 {
  height: 4px;
  clear: both;
}


.gallery {
  padding-left: 15px;
}

.gallery-item:hover {
  border: 1px solid antiquewhite;
}

.marginTop30px {
  margin-top: 30px;
}

.image-preview img{
  width: 100%;
}
.new-form {
  margin-left: 100px;
}

.image-description img {
  width: 100%;
}
